.tabcon {
  margin-top: 2%;
}

.tabslist {
  margin-top: 7% !important;
}

.tabitem:hover {
  cursor: pointer;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #e4a503 !important;
  transition: ease-in-out 1.2ms;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important ;
  border-bottom: 0.17em solid #e4a503 !important;
}

.nav-tabs {
  border: none !important;
  font-weight: 600;
  color: #b8b8b8;
}

.nav-tab:hover {
  border: none !important;
}

.nav-link:hover {
  color: gray !important;
}

.filtericon {
  margin-bottom: 5%;
  cursor: pointer;
  margin-left: 35%;
}

.filtericon2 {
  margin-bottom: 5%;
  cursor: pointer;
  float: right;
  margin-right: 5%;
  margin-top: 2%;
}

.filtericoncon {
  float: right;
  display: flex;
  flex-direction: row;
  margin-right: 5%;
  margin-bottom: 5%;
}

.cardUser {
  background-color: #f9f9f9;
  box-shadow: none;
}

.cardUser2 {
  background-color: #f9f9f9;
  box-shadow: none;
  margin-top: 5%;
}

.cardheadtext {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 5%;
  padding-left: 3%;
}

.cardInp {
display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
	margin-bottom: 5%;
	padding-right: 3%;
    padding-left: 3%;
}

.inp-grp {
	display: flex;
	flex-direction: column;
	align-items: space-between;
}

.cardtextInp {
  width: 60%;
  margin-left: 15%;
  margin-top: -2%;
  background-color: #fff !important;
}

.cardsubtext {
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: none;
}

.buttoncon {
  float: right;
  margin-top: 7%;
  margin-right: 5%;
}

.button {
  background-color: #e4a503;
  color: white;
  border: none;
  width: 7rem;
  height: 2.5rem;
  font-weight: 600;
  border-radius: 10px !important;
}

.mb {
  margin-bottom: 5%;
}

.drop {
  margin-left: 15%;
  margin-top: -4%;
}

.droptext {
  text-transform: none;
}

.internalrow {
  text-align: center;
  margin-bottom: 5%;
  margin-top: 2%;
}

.toptext {
  display: flex;
  flex-direction: row;
}

.cardmain {
  background-color: white !important;
  box-shadow: none;
}

.cardheadtext2 {
  font-size: 1rem;
  font-weight: 600;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}

.carddetailtext {
  font-size: 0.8rem;
  margin-right: 6%;
  margin-left: 5%;
  color: #4d4d4d;
}

.editicon{
  margin-top: -2%;
}

.reddot{
  margin-top: -2%;
  margin-right: 5%;
}

@media (max-width: 500px) {
  .tabcon {
    margin-top: 4%;
  }
  .tabitem {
    font-size: 0.85rem !important;
  }
  .cardtextInp {
    margin-top: -5%;
  }
}

.tble-hd {
	display: flex;
	flex-direction: row;
}

.input-group{
	width: unset;
}