.tabcon {
  margin-top: 2%;
}

.tabslist {
  margin-top: 7% !important;
}

.tabitem:hover {
  cursor: pointer;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #e4a503 !important;
  transition: ease-in-out 0.1s;
  border-bottom: 0.17em solid #e4a503 !important;
  margin-top: 1%;
}

.nav-link {
  text-transform: none;
  color: #b8b8b8 !important;
  font-weight: 500 !important;
  border: none !important;
}

.nav-tabs {
  font-weight: 600;
  color: #b8b8b8;
}

.nav-link:hover {
  color: gray !important;
}

.filtericon {
  margin-bottom: 5%;
  cursor: pointer;
  margin-left: 35%;
}

.filtericon2 {
  margin-bottom: 5%;
  cursor: pointer;
  float: right;
  margin-right: 5%;
  margin-top: 2%;
}

.filtericoncon {
  float: right;
  display: flex;
  flex-direction: row;
  margin-right: 5%;
  margin-bottom: 5%;
}

.cardUser {
  background-color: #f9f9f9;
  box-shadow: none;
}

.cardUser2 {
  background-color: #f9f9f9;
  box-shadow: none;
  margin-top: 5%;
}

.cardheadtext {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 5%;
  padding-left: 3%;
}

.cardInp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
  padding-right: 3%;
  padding-left: 3%;
}
.cardInp2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
  padding-right: 3%;
  padding-left: 3%;
}

.inp-grp {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.cardtextInp {
  width: 60%;
  margin-left: 15%;
  margin-top: -2%;
  background-color: #fff !important;
}

.cardsubtext {
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: none;
}

.cardsubtext2 {
  font-size: 0.8rem;
  font-weight: 600;
  color: #e4a503;
  text-transform: none;
}

.buttoncon {
  float: right;
  margin-top: 7%;
  margin-right: 5%;
}

.button {
  background-color: #e4a503;
  color: white;
  width: 7rem;
  height: 2.5rem;
  font-weight: 600;
  border-radius: 10px !important;
  border: none !important;
  outline: none !important;
}

.button:focus {
  background-color: #ffb700;
}

.button2 {
  background-color: #4d4d4d;
  color: white;
  width: 7rem;
  height: 2.5rem;
  font-weight: 600;
  border-radius: 10px !important;
  border: none !important;
  outline: none !important;
}

.button2:hover {
  background-color: #c1c1c1;
}

.button2:focus {
  background-color: #e4a503;
}

.mb {
  margin-bottom: 5%;
}

.drop {
  margin-left: 15%;
  margin-top: -4%;
}

.droptext {
  text-transform: none;
}

.internalrow {
  text-align: center;
  margin-bottom: 5%;
  margin-top: 2%;
}

.toptext {
  display: flex;
  flex-direction: row;
}

.cardmain {
  background-color: white !important;
  box-shadow: none;
}

.cardheadtext2 {
  font-size: 1rem;
  font-weight: 600;
}

.carddetailtext {
  font-size: 0.8rem;
  margin-right: 6%;
  margin-left: 5%;
  color: #4d4d4d;
}

.editicon {
  margin-top: -2%;
}

.reddot {
  margin-top: -2%;
  margin-right: 5%;
}

.max-width{
  width: 90% !important;
  margin-top: 5%;
}

@media (max-width: 500px) {
  .tabcon {
    margin-top: 4%;
  }
  .tabitem {
    font-size: 0.85rem !important;
  }
  .cardtextInp {
    margin-top: -5%;
  }
}

.tble-hd {
  display: flex;
  flex-direction: row;
}

.input-group {
  width: unset;
}

.table-responsive {
  padding-bottom: unset !important;
}

.tablehead {
  text-transform: none !important;
  font-weight: 600 !important;
}

.phold {
  background-color: #fff !important;
  border-radius: 10px !important;
  font-weight: 300 !important;
}

.btn,
.navbar .navbar-nav > a.btn {
  border-width: 2px;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.35em;
  border: none;
  margin: 10px 1px;
  border-radius: 3px;
  padding: 11px 22px;
  cursor: pointer;
  background-color: #fff;
  color: #4d4d4d;
  transition: all 150ms linear;
  border-radius: 10px !important;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 3.4em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.navitem-cursor {
  cursor: pointer;
}

.pointer-cursor {
  cursor: pointer;
}

.modalhead {
  font-size: 0.8em !important;
  border-bottom: none;
}
.modal-footer {
  border-top: none !important;
}

.modal-title {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 600 !important;
}

.modal-content {
  background-color: #f9f9f9 !important;
}

.cardToggle {
  background-color: #fff;
  float: right;
}

.toggle-label {
  color: #e4a503 !important;
  font-size: 1em !important;
  display: flex;
  font-weight: 500 !important;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
  margin-right: 20px !important;
}

.flex-start {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.flex-end {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.label-radio {
  margin-left: 5px;
  color: #121212 !important;
}

.doughnut-graph {
  margin-bottom: 10%;
  margin-top: 5%;
}

.top-graph {
  justify-content: space-evenly !important;
}

.card-center {
  justify-content: space-around !important;
  text-align: center;
  align-items: center !important;
}

.cardInpThin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 3%;
  padding-left: 3%;
}

.cardmaintext {
  text-transform: none;
  font-weight: 600;
}

.card-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.filtericon3 {
  margin-bottom: 5%;
  cursor: pointer;
  margin-left: 15%;
  margin-top: 5%;
}

.icon-toggle {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.success-btn {
  width: 50%;
  height: 4vh;
  border-radius: 8px;
  font-weight: 500;
  border: none;
  color: white;
  background-color: #82ca27;
  outline: none !important;
}

.failure-btn {
  width: 50%;
  min-width: fit-content;
  height: 4vh;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  color: white;
  outline: none !important;
  background-color: #d50c0c;
}
