@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

.main-panel {
	width: calc(100% - 100px) !important;
}

@media screen and (max-width: 991px){

.main-panel {
    width: 100% !important;
}
}