@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

.main-panel {
  width: calc(100% - 100px) !important;
}

@media screen and (max-width: 991px) {
  .main-panel {
    width: 100% !important;
  }
}

@media screen and (max-width: 991px) {
  .nav-open .main-panel {
    right: 0;
    transform: translate3d(100px, 0, 0);
  }
}

.table-responsive::-webkit-scrollbar {
  display: none !important;
}
.table-responsive::-webkit-scrollbar-track {
  display: none !important;
}
.table-responsive::-webkit-scrollbar-thumb {
  display: none !important;
}
