.sidebar-wrapper {
  overflow-x: hidden !important;
}

.sidebar .sidebar-wrapper li.active > a:not([data-toggle="collapse"]):after,
.sidebar
  .sidebar-wrapper
  li.active
  > [data-toggle="collapse"]
  + div
  .nav
  li:after {
  border-right: 17px solid gold !important;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 17px solid transparent;
  content: "";
  display: block !important;
  position: absolute;
  opacity: 1;
  top: 7px;
  transition: opacity 150ms ease-in;
}

.sidebar .sidebar-wrapper li.active > a:not([data-toggle="collapse"])::before,
.sidebar
  .sidebar-wrapper
  li.active
  > [data-toggle="collapse"]
  + div
  .nav
  li:before {
  border-right: 17px solid gold !important;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 17px solid transparent;
  content: "";
  display: block !important;
  position: absolute;
  opacity: 1;
  top: 7px;
  transition: opacity 150ms ease-in;
}
