.sidebar-wrapper {
  overflow-x: hidden !important;
}

.sidebar .sidebar-wrapper li.active > a:not([data-toggle="collapse"]):after,
.sidebar
  .sidebar-wrapper
  li.active
  > [data-toggle="collapse"]
  + div
  .nav
  li:after {
  border-radius: 100px !important;
  border-color: orange !important;
  margin-right: 2% !important;
  border-right: 1px;
  width: 2%;
  border-left: 1px;
}

.sidebar .sidebar-wrapper li.active > a:not([data-toggle="collapse"])::before,
.sidebar
  .sidebar-wrapper
  li.active
  > [data-toggle="collapse"]
  + div
  .nav
  li:before {
  border-color: orange !important;
  border-radius: 100px !important;
  margin-right: 2% !important;
  border-right: 1px;
  border-left: 1px;
}

.sidebar[data-color="black"]:after,
.off-canvas-sidebar[data-color="black"]:after {
  background-color: #000 !important;
}
