.sidebar-wrapper {
  overflow-x: hidden !important;
}

.sidebar .sidebar-wrapper li.active > a:not([data-toggle="collapse"]):after,
.sidebar
  .sidebar-wrapper
  li.active
  > [data-toggle="collapse"]
  + div
  .nav
  li:after {
  border-radius: 100px !important;
  border-color: #e4a503 !important;
  margin-right: 2% !important;
  border-right: 1px;
  width: 2%;
  border-left: 1px;
}

.sidebar .sidebar-wrapper li.active > a:not([data-toggle="collapse"])::before,
.sidebar
  .sidebar-wrapper
  li.active
  > [data-toggle="collapse"]
  + div
  .nav
  li:before {
  border-color: #e4a503 !important;
  border-radius: 100px !important;
  margin-right: 2% !important;
  border-right: 1px;
  border-left: 1px;
}

.sidebar[data-color="black"]:after,
.off-canvas-sidebar[data-color="black"]:after {
  background-color: #000 !important;
}


.sidebar[data-active-color="info"] .nav li.active > a, .sidebar[data-active-color="info"] .nav li.active > a i, .sidebar[data-active-color="info"] .nav li.active > a[data-toggle="collapse"], .sidebar[data-active-color="info"] .nav li.active > a[data-toggle="collapse"] i, .sidebar[data-active-color="info"] .nav li.active > a[data-toggle="collapse"] ~ div > ul > li.active .sidebar-mini-icon, .sidebar[data-active-color="info"] .nav li.active > a[data-toggle="collapse"] ~ div > ul > li.active > a, .off-canvas-sidebar[data-active-color="info"] .nav li.active > a, .off-canvas-sidebar[data-active-color="info"] .nav li.active > a i, .off-canvas-sidebar[data-active-color="info"] .nav li.active > a[data-toggle="collapse"], .off-canvas-sidebar[data-active-color="info"] .nav li.active > a[data-toggle="collapse"] i, .off-canvas-sidebar[data-active-color="info"] .nav li.active > a[data-toggle="collapse"] ~ div > ul > li.active .sidebar-mini-icon, .off-canvas-sidebar[data-active-color="info"] .nav li.active > a[data-toggle="collapse"] ~ div > ul > li.active > a{
  color: white;
}
