.main-panel > .navbar {
  background-color: #fff !important;
}

.main-panel {
  background-color: white !important;
}

.navbar.navbar-transparent{
  border: none;
}

@media(max-width:500px){
  .navbrand{
    margin-left: 10% !important;
  }
}